@import "tailwindcss";

/* Declara tu animación dentro del layer utilities para que Tailwind no la sobrescriba */
@layer utilities {
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .fade-in {
    animation: fadeIn 0.4s ease-in-out both;
  }
}
